Package: siduction-art-xsplash-desperado-reloaded
Source: siduction-art-desperado-reloaded
Version: 2012.1.26
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 481
Depends: xfce4-session
Section: graphics
Priority: extra
Description: Xfce splash theme for the siduction 12.1.1 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: sidcution 12.1.1 (DesperadoReloaded)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.
Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
