[Desktop Entry]
Name=patience
Name[x-test]=xxpatiencexx
X-KDE-PluginInfo-Name=patience
X-KDE-PluginInfo-Author=Alf Gaida 
X-KDE-PluginInfo-Email=agaida@siduction.org
X-KDE-PluginInfo-License=GPLv2
