[Desktop Entry]
Name=siduction xmas
Name[x-test]=xxsiduction xmasxx
X-KDE-PluginInfo-Name=siduction-xmas
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
