[Desktop Entry]
Name=whiteroom
Name[x-test]=xxwhiteroomxx
X-KDE-PluginInfo-Name=whiteroom
X-KDE-PluginInfo-Author=Alf Gaida 
X-KDE-PluginInfo-Email=agaida@siduction.org
X-KDE-PluginInfo-License=GPLv2
