[Desktop Entry]
Name=siduction firestarter
Name[x-test]=xxsiduction firestarterxx
X-KDE-PluginInfo-Name=siduction-firestarter
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
