[Desktop Entry]
Name=login-siduction desperado
Name[x-test]=xxlogin siduction desperadoxx
X-KDE-PluginInfo-Name=login-siduction-desperado
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
