[KSplash Theme: siduction-desperado-reloaded]
# Theme behaviour settings.
Engine = KSplashX
Greeter=siduction-desperado-reloaded.xml
Name=siduction-ksplash desperado
Author=siduction art team
Copyright=CC-BY-SA 3.0 2012
Screenshot=Preview.png
