Package: siduction-art-lxqt-thunderstruck
Source: siduction-art-thunderstruck
Version: 2015.01.25
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 91
Pre-Depends: grub-theme-siduction-thunderstruck, lxqt-common, siduction-art-wallpaper-thunderstruck
Depends: siduction-icons
Provides: siduction-art-lxqt-theme
Section: graphics
Priority: extra
Description: LXQt theme for the siduction 2015-1.0 release
 release specific metapackage depending on Art-Wallpaper.
 .
 LXQt artwork metapackage for: siduction 2015-1.0 (Thunderstruck - xperimental)
