Source: thunderstruck-lxqt-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.7
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: thunderstruck-lxqt-artwork
Architecture: all
Pre-Depends:
 lxqt-common,
 thunderstruck-grub-theme,
 thunderstruck-wallpapers,
Depends:
 ${misc:Depends},
 siduction-icons,
 breeze-cursor-theme
Description: LXQt theme for Thunderstruck - xperimental
 Release specific metapackage depending on Art-Wallpaper
 to be used in combination with the LXQt desktop environment.

