Source: siduction-art-paintitblack
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
 inkscape,
 imagemagick,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-droid,
Standards-Version: 3.9.3
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git

Package: siduction-art-gnome-paintitblack
Architecture: all
Provides: siduction-art-gnome-theme
Depends: ${misc:Depends},
 siduction-art-wallpaper-paintitblack,
 siduction-icons,
Recommends: dmz-cursor-theme
Description: Gnome theme for the siduction 2012-1.8 release
 release specific metapackage depending on icons and wallpapers to be
 used in combination with the Gnome Desktop Environment.
 .
 Gnome artwork metapackage for: siduction 2012-1.8 (PaintItBlack-Dev)

Package: siduction-art-kde-paintitblack
Architecture: all
Provides: siduction-art-kde-theme
Depends: ${misc:Depends},
 siduction-art-ksplash-paintitblack,
 siduction-art-kdm-paintitblack,
 siduction-art-wallpaper-paintitblack,
 siduction-icons,
Recommends: dmz-cursor-theme
Description: KDE theme for the siduction 2012-1.8 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 2012-1.8 (PaintItBlack-Dev)

Package: siduction-art-kdm-paintitblack
Architecture: all
Depends: ${misc:Depends},
		 kdm
Description: KDM theme for the siduction 2012-1.8 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: siduction 2012-1.8 (PaintItBlack-Dev)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-ksplash-paintitblack
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the siduction 2012-1.8 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: siduction 2012-1.8 (PaintItBlack-Dev)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-lxde-paintitblack
Architecture: all
Provides: siduction-art-lxde-theme
Depends: ${misc:Depends},
 siduction-art-wallpaper-paintitblack,
 siduction-icons,
Recommends: dmz-cursor-theme,
Description: LXDE theme for the siduction 2012-1.8 release
 release specific metapackage depending on Art-Wallpaper
 to be used in combination with the LXDE desktop environment.
 .
 LXDE artwork metapackage for: siduction 2012-1.8 (PaintItBlack-Dev)

Package: siduction-art-wallpaper-paintitblack
Architecture: all
Provides: siduction-art-wallpaper-theme
Depends: ${misc:Depends}
Description: siduction wallpaper for the 2012-1.8 release
 release specific wallpapers, compatible with the GNOME, NOX, LXDE,
 NOX, RQT, XFCE.
 .
 Wallpapers for: siduction 2012-1.8 (PaintItBlack-Dev)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-nox-paintitblack
Architecture: all
Provides: siduction-art-nox-theme
Depends: ${misc:Depends},
 siduction-art-wallpaper-paintitblack,
Description: NOX theme for the siduction 2012-1.8 release
 release specific metapackage depending on Art-Wallpaper.
 .
 NOX artwork metapackage for: siduction 2012-1.8 (PaintItBlack-Dev)

Package: siduction-art-rqt-paintitblack
Architecture: all
Provides: siduction-art-rqt-theme
Depends: ${misc:Depends},
 siduction-art-wallpaper-paintitblack,
 siduction-icons,
Description: RQT theme for the siduction 2012-1.8 release
 release specific metapackage depending on Art-Wallpaper.
 .
 RQT artwork metapackage for: siduction 2012-1.8 (PaintItBlack-Dev)

Package: siduction-art-xfce-paintitblack
Architecture: all
Provides: siduction-art-xfce-theme
Depends: ${misc:Depends},
 siduction-art-xsplash-paintitblack,
 siduction-art-wallpaper-paintitblack,
 siduction-icons,
Recommends: dmz-cursor-theme
Description: XFCE theme for the siduction 2012-1.8 release
 release specific metapackage depending on xfce4-session, Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 XFCE artwork metapackage for: siduction 2012-1.8 (PaintItBlack-Dev)

Package: siduction-art-xsplash-paintitblack
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: XFCE splash theme for the siduction 2012-1.8 release
 release specific XFCE splash theme, based on the balou theme engine.
 .
 XFCE xsplash artwork for: sidcution 2012-1.8 (PaintItBlack-Dev)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.
