Package: siduction-art-xsplash-11.0.5
Source: siduction-art-11.0.5
Version: 0.1.2
Architecture: all
Maintainer: Ferdinand Thommes <devil@siduction.org>
Installed-Size: 93
Depends: xfce4-session
Section: graphics
Priority: extra
Description: Xfce splash theme for the siduction 11.0.5 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: siduction 11.0.5
 .
 This package does not override existing theme configurations and needs to be
 selected manually.
Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
