Source: thunderstruck-grub-theme
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.8
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: thunderstruck-grub-theme
Architecture: all
Depends:
 ${misc:Depends},
Description: grub-theme for Thunderstruck - xperimental
 mostly copy from grub-sources

Package: thunderstruck-live-grub-theme
Architecture: all
Depends:
 ${misc:Depends},
 thunderstruck-grub-theme
Description: live grub-theme for Thunderstruck - xperimental
 mostly copy from grub-sources
