[Desktop Entry]
Name=wintersky
Name[x-test]=xxwinterskyxx
X-KDE-PluginInfo-Name=wintersky
X-KDE-PluginInfo-Author=Hendrik Lehmbruch
X-KDE-PluginInfo-Email=hendrikl@siduction.org
X-KDE-PluginInfo-License=GPLv2
Type=Service
