[Desktop Entry]
Name=Shine on
Name[x-test]=xxshine-onxx
X-KDE-PluginInfo-Name=Shine on
X-KDE-PluginInfo-Author=Hendrik Lehmbruch
X-KDE-PluginInfo-Email=hendrikl@siduction.org
X-KDE-PluginInfo-License=GPLv2
Type=Service
