[Desktop Entry]
Name=2021-03-exp
Name[x-test]=xx2021-03-expxx
X-KDE-PluginInfo-Name=2021-03-exp
X-KDE-PluginInfo-Author=Hendrik Lehmbruch
X-KDE-PluginInfo-Email=hendrikl@siduction.org
X-KDE-PluginInfo-License=GPLv2
