Package: siduction-art-xfce-desperado-reloaded
Source: siduction-art-desperado-reloaded
Version: 2012.1.26
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 34
Depends: siduction-art-xsplash-desperado-reloaded
Recommends: siduction-art-wallpaper-desperado-reloaded, dmz-cursor-theme
Provides: siduction-art-xfce-theme
Section: graphics
Priority: extra
Description: Xfce theme for the siduction 12.1.1 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: siduction 12.1.1 (DesperadoReloaded)
Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
