[GdmGreeterTheme]
Greeter=siduction-osb.xml
Name=siduction-osb
Description=siduction osb GDM Theme
Author=siduction art team
Copyright=cc-by-sa 3.0
Screenshot=screenshot.png
