Source: paintitblack-wallpapers
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
               inkscape,
               graphicsmagick-imagemagick-compat,
               fonts-droid,
Standards-Version: 3.9.6
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git



Package: paintitblack-wallpapers
Architecture: all
Depends: ${misc:Depends}
Breaks: siduction-art-wallpaper-paintitblack
Replace: siduction-art-wallpaper-paintitblack
Description: Wallpapers for PaintItBlack - next
 Release specific wallpapers, compatible with the Cinnamon, Fluxbox, GNOME, KDE, NOX,
 LXDE, LXQt, Mate, XFCE.
 .
 This package does not override existing theme configurations and needs to be
 selected manually.


