[Desktop Entry]
Name=siduction osb
Name[x-test]=xxsiduction osbxx
X-KDE-PluginInfo-Name=siduction-osb
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
