[Desktop Entry]
Name=siduction foo
Name[x-test]=xxsiduction fooxx
X-KDE-PluginInfo-Name=siduction-foo
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
