Source: patience-grub-theme
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
               inkscape,
               grub-common
Standards-Version: 3.9.8
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: patience-grub-theme
Architecture: all
Depends:
 ${misc:Depends},
Description: grub-theme for Patience
 mostly copy from grub-sources

Package: patience-live-grub-theme
Architecture: all
Depends:
 ${misc:Depends},
 patience-grub-theme
Description: live grub-theme for Patience
 mostly copy from grub-sources
