[Desktop Entry]
Name=siduction 11.0.5
Name[x-test]=xxsiduction 11.0.5xx
X-KDE-PluginInfo-Name=siduction-11.0.5
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
