Package: siduction-art-xsplash-thunderstruck
Source: siduction-art-thunderstruck
Version: 2015.01.25
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 118
Pre-Depends: xfce4-session
Section: graphics
Priority: extra
Description: Xfce splash theme for the siduction 2015-1.0 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: sidcution 2015-1.0 (Thunderstruck - xperimental)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.
