[KSplash Theme: siduction-onestepbeyond]
Name = siduction-onestepbeyond (One Step Beyond) Splash Screen
Description = sidcution onestepbeyond Splash Screen
Version = 1.0
Author = siduction Art Team
Homepage = http://www.siduction.org
# Theme behaviour settings.
Engine = KSplashX
