[KSplash Theme: thunderstruck]
# Theme behaviour settings.
Engine = KSplashX
Greeter=thunderstruck.xml
Name=ksplash thunderstruck
Author=siduction art team
Copyright=CC-BY-SA 3.0 2013
Screenshot=Preview.jpg
