Source: paintitblack-lxde-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.7
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: paintitblack-lxde-artwork
Architecture: all
Pre-Depends:
 paintitblack-grub-theme,
 paintitblack-wallpapers,
Depends:
 ${misc:Depends},
 siduction-icons,
 breeze-cursor-theme
Description: LXDE theme for PaintItBlack - next
 Release specific metapackage depending on Art-Wallpaper
 to be used in combination with the LXDE desktop environment.

