[Desktop Entry]
Name=2-siduction desperado
Name[x-test]=xx2-siduction desperadoxx
X-KDE-PluginInfo-Name=2-siduction-desperado
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
