Package: siduction-art-icons
Source: siduction-art-desperado-reloaded
Version: 2012.1.26
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 3817
Section: graphics
Priority: extra
Description: Siduction Icons 12.1.1 (DesperadoReloaded)
 Slow growing icon library.
 .
 Siduction icon-set for: siduction 12.1.1 (DesperadoReloaded)
Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
