[Desktop Entry]
Name=siduction paintitblack
Name[x-test]=xxsiduction paintitblackxx
X-KDE-PluginInfo-Name=siduction-paintitblack
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
