Source: patience-lxde-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.8
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: patience-lxde-artwork
Architecture: all
Depends:
 ${misc:Depends},
 patience-wallpapers,
 siduction-icons,
 breeze-cursor-theme
Description: LXDE theme for Patience
 Release specific metapackage depending on Art-Wallpaper
 to be used in combination with the LXDE desktop environment.

