[GdmGreeterTheme]
Greeter=11.0.5.xml
Name=siduction-11.0.5
Description=siduction 11.0.5 GDM Theme
Author=siduction art team
Copyright=GPL
Screenshot=screenshot.png
