Source: whiteroom-cinnamon-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.8
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: whiteroom-cinnamon-artwork
Architecture: all
Depends:
 ${misc:Depends},
 whiteroom-wallpapers,
 siduction-icons,
Recommends:
 dmz-cursor-theme
Description: Cinnamon theme for WhiteRoom
 Release specific metapackage depending on icons and wallpapers to be
 used in combination with the Cinnamon  Desktop Environment.
