Package: siduction-art-kde-11.0.5
Source: siduction-art-11.0.5
Version: 0.1.2
Architecture: all
Maintainer: Ferdinand Thommes <devil@siduction.org>
Installed-Size: 68
Depends: siduction-art-ksplash-11.0.5, siduction-art-kdm-11.0.5
Recommends: siduction-art-wallpaper-11.0.5, dmz-cursor-theme
Provides: siduction-art-kde-theme
Section: graphics
Priority: extra
Description: KDE theme for the siduction 11.0.5 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 11.0.5
Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
