[Desktop Entry]
Name=siduction ridersonthestorm
Name[x-test]=xxsiduction ridersonthestormxx
X-KDE-PluginInfo-Name=siduction-ridersonthestorm
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
