Source: siduction-art-razorqt-lu-edition
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9),
    inkscape,
    imagemagick,
    perl,
    perlmagick,
    libxml-parser-perl,
    fonts-droid
Standards-Version: 3.9.3
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git

Package: siduction-art-kde-razorqt-lu-edition
Architecture: all
Provides: siduction-art-kde-theme
Depends: ${misc:Depends},
 siduction-art-ksplash-razorqt-lu-edition,
 siduction-art-kdm-razorqt-lu-edition
Recommends: siduction-art-wallpaper-razorqt-lu-edition,
 dmz-cursor-theme
Description: KDE theme for the siduction 12.1.6 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 12.1.6 (RazorQt-LU-Edition)

Package: siduction-art-kdm-razorqt-lu-edition
Architecture: all
Depends: ${misc:Depends},
		 kdm
Description: KDM theme for the siduction 12.1.6 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: siduction 12.1.6 (RazorQt-LU-Edition)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-ksplash-razorqt-lu-edition
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the siduction 12.1.6 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: siduction 12.1.6 (RazorQt-LU-Edition)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-wallpaper-razorqt-lu-edition
Architecture: all
Provides: siduction-art-wallpaper-theme
Depends: ${misc:Depends}
Description: siduction wallpaper for the 12.1.6 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: siduction 12.1.6 (RazorQt-LU-Edition)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-xfce-razorqt-lu-edition
Architecture: all
Provides: siduction-art-xfce-theme
Depends: ${misc:Depends},
 siduction-art-xsplash-razorqt-lu-edition
Recommends: siduction-art-wallpaper-razorqt-lu-edition,
 dmz-cursor-theme
Description: Xfce theme for the siduction 12.1.6 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: siduction 12.1.6 (RazorQt-LU-Edition)

Package: siduction-art-xsplash-razorqt-lu-edition
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the siduction 12.1.6 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: sidcution 12.1.6 (RazorQt-LU-Edition)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-rqt-razorqt-lu-edition
Architecture: all
Depends: ${misc:Depends}
Description: Razor-Qt artwork for the siduction 12.1.6 release
 release specific Razor-Qt artwort.
 .
 Razor-Qt artwork for: sidcution 12.1.6 (RazorQt-LU-Edition)

Package: siduction-art-icons
Architecture: all
Depends: ${misc:Depends}
Description: Siduction Icons 12.1.6 (RazorQt-LU-Edition)
 Slow growing icon library.
 .
 Siduction icon-set for: siduction 12.1.6 (RazorQt-LU-Edition)
