[GdmGreeterTheme]
Greeter=ponos.xml
Name=aptosid-ponos
Description=aptosid 2011-03 ponos GDM Theme
Author=aptosid art team
Copyright=GPL
Screenshot=screenshot.png
