[Desktop Entry]
Name=december
Name[x-test]=xxdecemberxx
X-KDE-PluginInfo-Name=december
X-KDE-PluginInfo-Author=Alf Gaida 
X-KDE-PluginInfo-Email=agaida@siduction.org
X-KDE-PluginInfo-License=GPLv2
