Source: siduction-art-whiteroom
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
 inkscape,
 imagemagick,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-droid,
Standards-Version: 3.9.5
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git

Package: siduction-art-gnome-whiteroom
Architecture: all
Provides:
 siduction-art-gnome-theme
Pre-Depends:
 grub-theme-siduction-whiteroom,
 siduction-art-wallpaper-whiteroom,
Depends:
 ${misc:Depends},
 siduction-icons,
Recommends:
 dmz-cursor-theme
Description: Gnome theme for the siduction 2014.1.0 release
 release specific metapackage depending on icons and wallpapers to be
 used in combination with the Gnome Desktop Environment.
 .
 Gnome artwork metapackage for: siduction 2014.1.0 (WhiteRoom)

Package: siduction-art-kde-whiteroom
Architecture: all
Provides:
 siduction-art-kde-theme
Pre-Depends:
 grub-theme-siduction-whiteroom,
 siduction-art-ksplash-whiteroom,
 siduction-art-wallpaper-whiteroom,
Depends:
 ${misc:Depends},
 siduction-icons,
Recommends:
 dmz-cursor-theme
Description: KDE theme for the siduction 2014.1.0 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 2014.1.0 (WhiteRoom)

Package: siduction-art-kdm-whiteroom
Architecture: all
Pre-Depends:
 kdm
Depends:
 ${misc:Depends},
Description: KDM theme for the siduction 2014.1.0 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: siduction 2014.1.0 (WhiteRoom)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-ksplash-whiteroom
Architecture: all
Pre-Depends: 
 kdebase-workspace-bin,
Depends:
 ${misc:Depends},
Description: KDE ksplash theme for the siduction 2014.1.0 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: siduction 2014.1.0 (WhiteRoom)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-lightdm-whiteroom
Architecture: all
Pre-Depends:
 lightdm
Depends:
 ${misc:Depends}
Description: lightdm theme for the siduction 2014.1.0 release
 release specific artwork theme for the light display manager to be used in
 combination with the razorqt or xfce.
 .
 lightdm artwork for: siduction 2014.1.0 (WhiteRoom)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-lxde-whiteroom
Architecture: all
Provides:
 siduction-art-lxde-theme
Pre-Depends:
 grub-theme-siduction-whiteroom,
 siduction-art-wallpaper-whiteroom,
Depends:
 ${misc:Depends},
 siduction-icons,
Recommends:
 dmz-cursor-theme,
Description: LXDE theme for the siduction 2014.1.0 release
 release specific metapackage depending on Art-Wallpaper
 to be used in combination with the LXDE desktop environment.
 .
 LXDE artwork metapackage for: siduction 2014.1.0 (WhiteRoom)

Package: siduction-art-lxqt-whiteroom
Architecture: all
Provides:
 siduction-art-lxqt-theme
Pre-Depends:
 grub-theme-siduction-whiteroom,
 siduction-art-wallpaper-whiteroom,
Depends:
 ${misc:Depends},
 siduction-icons,
Description: LXQT theme for the siduction 2014.1.0 release
 release specific metapackage depending on Art-Wallpaper.
 .
 LXQT artwork metapackage for: siduction 2014.1.0 (WhiteRoom)


Package: siduction-art-wallpaper-whiteroom
Architecture: all
Provides:
 siduction-art-wallpaper-theme
Depends:
 ${misc:Depends}
Description: siduction wallpaper for the 2014.1.0 release
 release specific wallpapers, compatible with the GNOME, NOX, LXDE,
 RQT, XFCE.
 .
 Wallpapers for: siduction 2014.1.0 (WhiteRoom)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

# Package: siduction-art-nox-whiteroom
# Architecture: all
# Provides:
#  siduction-art-nox-theme
# Depends:
#   ${misc:Depends},
#   siduction-art-wallpaper-whiteroom,
# Description: NOX theme for the siduction 2014.1.0 release
# release specific metapackage depending on Art-Wallpaper.
# .
# NOX artwork metapackage for: siduction 2014.1.0 (WhiteRoom)

Package: siduction-art-rqt-whiteroom
Architecture: all
Provides:
 siduction-art-rqt-theme
Pre-Depends:
 grub-theme-siduction-whiteroom,
 siduction-art-wallpaper-whiteroom,
Depends:
 ${misc:Depends},
 siduction-icons,
Description: RQT theme for the siduction 2014.1.0 release
 release specific metapackage depending on Art-Wallpaper.
 .
 RQT artwork metapackage for: siduction 2014.1.0 (WhiteRoom)

Package: siduction-art-xfce-whiteroom
Architecture: all
Provides:
 siduction-art-xfce-theme
Pre-Depends: 
 grub-theme-siduction-whiteroom,
 siduction-art-xsplash-whiteroom,
 siduction-art-wallpaper-whiteroom,
Depends:
 ${misc:Depends},
 siduction-icons,
Recommends:
 dmz-cursor-theme
Description: Xfce theme for the siduction 2014.1.0 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: siduction 2014.1.0 (WhiteRoom)

Package: siduction-art-xsplash-whiteroom
Architecture: all
Pre-Depends:
 xfce4-session,
Depends:
 ${misc:Depends},
Description: Xfce splash theme for the siduction 2014.1.0 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: sidcution 2014.1.0 (WhiteRoom)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: grub-theme-siduction-whiteroom
Architecture: all
Depends:
 ${misc:Depends},
Description: grub-theme for siduction 2014.1.0 release
 mostly copy from grub-sources
