[Desktop Entry]
Name=coffeeblues
Name[x-test]=xxcoffeebluesxx
X-KDE-PluginInfo-Name=coffeeblues
X-KDE-PluginInfo-Author=Alf Gaida 
X-KDE-PluginInfo-Email=agaida@siduction.org
X-KDE-PluginInfo-License=GPLv2
