Source: siduction-art-11.0.5
Section: graphics
Priority: extra
Maintainer: Ferdinand Thommes <devil@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Dinko Sabo <vibora@siduction.org>
Build-Depends: debhelper (>= 8),
 inkscape,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-droid
# ttf-dustin
Standards-Version: 3.9.2
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-11.0.5
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/siduction-art-11.0.5

Package: siduction-art-gdm3-11.0.5
Architecture: all
Depends: ${misc:Depends},
 gdm3
Description: GDM3 theme for siduction 11.0.5 release
 release specific artwork theme for the GDM3 display manager to be used in
 combination GTK2 based desktop environments like Xfce or LXDE.
 .
 GDM3 artwork for: siduction 11.0.5
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-kde-11.0.5
Architecture: all
Provides: siduction-art-kde-theme
Depends: ${misc:Depends},
 siduction-art-ksplash-11.0.5,
 siduction-art-kdm-11.0.5
Recommends: siduction-art-wallpaper-11.0.5,
 dmz-cursor-theme
Description: KDE theme for the siduction 11.0.5 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 11.0.5

Package: siduction-art-kdm-11.0.5
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the siduction 11.0.5 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: siduction 11.0.5
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-ksplash-11.0.5
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the siduction 11.0.5 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: siduction 11.0.5
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-wallpaper-11.0.5
Architecture: all
Provides: siduction-art-wallpaper-theme
Depends: ${misc:Depends}
Description: siduction wallpaper for the 11.0.5 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: siduction 11.0.5
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-xfce-11.0.5
Architecture: all
Provides: siduction-art-xfce-theme
Depends: ${misc:Depends},
 siduction-art-xsplash-11.0.5
Recommends: siduction-art-wallpaper-11.0.5,
 dmz-cursor-theme
Description: Xfce theme for the siduction 11.0.5 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: siduction 11.0.5 release

Package: siduction-art-xsplash-11.0.5
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the siduction 11.0.5 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: siduction 11.0.5
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

