Source: siduction-art-onestepbeyond
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
XSBC-Original-Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 9),
 inkscape,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-droid
Standards-Version: 3.9.2
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git

Package: siduction-art-gdm-onestepbeyond
Architecture: all
Depends: ${misc:Depends},
 gdm
Description: GDM theme for siduction 11.1 release
 release specific artwork theme for the GDM display manager to be used in
 combination GTK2 based desktop environments like Xfce or LXDE.
 .
 GDM artwork for: siduction 11.1 (OneStepBeyond)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-kde-onestepbeyond
Architecture: all
Provides: siduction-art-kde-theme
Depends: ${misc:Depends},
 siduction-art-ksplash-onestepbeyond,
 siduction-art-kdm-onestepbeyond
Recommends: siduction-art-wallpaper-onestepbeyond,
 dmz-cursor-theme
Description: KDE theme for the siduction 11.1 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: siduction 11.1 (OneStepBeyond)

Package: siduction-art-kdm-onestepbeyond
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the siduction 11.1 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: siduction 11.1 (OneStepBeyond)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-ksplash-onestepbeyond
Architecture: all
Depends: ${misc:Depends},
 kdebase-workspace-bin
Description: KDE ksplash theme for the siduction 11.1 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: siduction 11.1 (OneStepBeyond)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-wallpaper-onestepbeyond
Architecture: all
Provides: siduction-art-wallpaper-theme
Depends: ${misc:Depends}
Description: siduction wallpaper for the 11.1 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: siduction 11.1 (OneStepBeyond)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: siduction-art-xfce-onestepbeyond
Architecture: all
Provides: siduction-art-xfce-theme
Depends: ${misc:Depends},
 siduction-art-xsplash-onestepbeyond
Recommends: siduction-art-wallpaper-onestepbeyond,
 dmz-cursor-theme
Description: Xfce theme for the siduction 11.1 release
 release specific metapackage depending on xfce4-session, gdm3 and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: siduction 11.1 (OneStepBeyond)

Package: siduction-art-xsplash-onestepbeyond
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the siduction 11.1 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: sidcution 11.1 (OneStepBeyond)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

