Source: patience-wallpapers
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 10),
               inkscape,
               imagemagick,
               fonts-noto,
               fonts-noto-hinted
Standards-Version: 3.9.8
Vcs-Git: https://git.siduction.org/artwork/wallpapers.git
Vcs-Browser: https://git.siduction.org/artwork/wallpapers.git

Package: patience-wallpapers
Architecture: all
Depends: ${misc:Depends}
Replaces: siduction-art-wallpaper-patience
Description: Wallpapers for Patience
 Release specific wallpapers, compatible with the Cinnamon, Fluxbox, GNOME,
 KDE, NOX, LXDE, LXQt, Mate, Xfce.
 .
 This package does not override existing theme configurations and needs to be
 selected manually.


