[KSplash Theme: siduction-desperado]
# Theme behaviour settings.
Engine = KSplashX
Greeter=siduction-desperado.xml
Name=siduction-kspash desperado
Author=siduction art team
Copyright=CC-by-S-A 3.0 2012
Screenshot=Preview.png
