[Desktop Entry]
Name=siduction onestepbeyond
Name[x-test]=xxsiduction onestepbeyondxx
X-KDE-PluginInfo-Name=siduction-onestepbeyond
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
