# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=siduction-firestarter.xml
Name=siduction-kdm-firestarter
Author=siduction art team
Copyright=CC-by-S-A 3.0 2013
Screenshot=screenshot.png
