[GdmGreeterTheme]
Greeter=siduction-foo.xml
Name=siduction-foo
Description=siduction foo GDM Theme
Author=siduction art team
Copyright=cc-by-sa 3.0
Screenshot=screenshot.png
