Source: thunderstruck-lxqt-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: thunderstruck-lxqt-artwork
Architecture: all
Pre-Depends:
 lxqt-common,
 thunderstruck-grub-theme,
 thunderstruck-wallpapers,
Depends:
 ${misc:Depends},
 siduction-icons,
Description: LXQt theme for the siduction 2015-1.0 release
 release specific metapackage depending on Art-Wallpaper.
