Source: whiteroom-grub-theme
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: whiteroom-grub-theme
Architecture: all
Depends:
 ${misc:Depends},
 whiteroom-wallpapers,
Description: grub-theme for WhiteRoom
 mostly copy from grub-sources
