[Desktop Entry]
Name=siduction onestepbeyond-lu-edition
Name[x-test]=xxsiduction onestepbeyond-lu-editionxx
X-KDE-PluginInfo-Name=siduction-onestepbeyond-lu-edition
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
