Source: thunderstruck-mate-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git


Package: thunderstruck-mate-artwork
Architecture: all
Pre-Depends:
 thunderstruck-grub-theme,
 thunderstruck-wallpapers,
Depends:
 ${misc:Depends},
 siduction-icons,
Recommends:
 dmz-cursor-theme
Description: Mate theme for Thunderstruck
 release specific metapackage depending on icons and wallpapers to be
 used in combination with the Mate Desktop Environment.

