[KSplash Theme: siduction-firestarter]
# Theme behaviour settings.
Engine = KSplashX
Greeter=siduction-firestarter.xml
Name=siduction-ksplash firestarter
Author=siduction art team
Copyright=CC-BY-SA 3.0 2013
Screenshot=Preview.png
