[Desktop Entry]
Name=siduction desperado-reloaded
Name[x-test]=xxsiduction desperado-reloadedxx
X-KDE-PluginInfo-Name=siduction-desperado
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
