[Desktop Entry]
Name=login-siduction desperado-reloaded
Name[x-test]=xxlogin siduction desperado-reloadedxx
X-KDE-PluginInfo-Name=login-siduction-desperado-reloaded
X-KDE-PluginInfo-Author=siduction Art Team
X-KDE-PluginInfo-Email=siduction-artwork@lists.siduction.org
X-KDE-PluginInfo-License=GPLv2
