Package: grub-theme-siduction-thunderstruck
Source: siduction-art-thunderstruck
Version: 2015.01.25
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 1136
Section: graphics
Priority: extra
Description: grub-theme for siduction 2015-1.0 release
 mostly copy from grub-sources
