Source: patience-kde-artwork
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 9),
 inkscape,
 imagemagick,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-noto,
 fonts-noto-hinted
Standards-Version: 3.9.8
Vcs-Git: git://git.siduction.org/packages/siduction-repository/siduction-art-foo.git
Vcs-Browser: http://git.siduction.org/packages/siduction-repository/siduction-art-foo.git

Package: patience-kde-artwork
Architecture: all
Depends:
 ${misc:Depends},
 patience-ksplash,
 patience-wallpapers,
 siduction-icons,
Description: KDE theme for Patience
 Release specific metapackage depending on ksplash and KDE themes to be
 used in combination with the K Desktop Environment.

Package: patience-ksplash
Architecture: all
Depends:
 ${misc:Depends},
Description: KDE ksplash theme for Patience
 Release specific KDE ksplash theme, using the default ksplash engine.
 .
 This package does not override existing theme configurations and needs
 to be selected manually.
 .
 As of today this is a empty metapackage.
